*:focus {
  outline: none;
}

html,
body {
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex: 1;
}

div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
  display: inline;
}

input {
  margin: 0;
  border: 0;
}

.flex {
  display: flex;
  flex: 1;
}

.row {
  flex-direction: row;
}

.jCenter {
  justify-content: center;
}

.aCenter {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.absolute {
  position: absolute;
}

.scroll {
  overflow: scroll;
}

@keyframes byeByePoint {
  from {
    top: -15px;
    opacity: 1;
  }
  to {
    top: -60px;
    opacity: 0;
  }
}
